.paypalButton{
    background-color: #003087;
    color: #fff;
    height: 40px;
    padding: 8px;
    border-radius: 75px;
    border: 0px;
    width:100%;
}

.backButton{
    background-color: #b30000;
    color: #fff;
    height: 40px;
    padding: 8px;
    border-radius: 75px;
    border: 0px;
    width:100%;
}