nav{
    display: flex;
    justify-content: space-between;
    background-color: #064C06;
    width: 100vw;
    height: 80px;
  }
  
  nav.wrapper-search{
    display: flex;
  }
  
  nav.searchbar{
    display: flex;
    width: 20vw;
    height: 40px;
    background-color: white;
  
  }
  